.Post {
  padding: 40px;
}
.Post header {
  text-align: left;
}
.Post__container {
  margin-top: 35px;
  transition: 0.3s all ease;
  padding: 10px 0;
}
.Post__container:hover {
  text-decoration: underline;
}
.Post__container h3 {
  font-family: "montserratregular";
}
.Post__container h3::first-letter {
  text-transform: capitalize;
}
.Post__container p {
  font-size: 1.1rem;
  font-family: "Open Sans";
}
