.Post {
  padding: 40px;
}
.Post header {
  text-align: left;
}
.Post__container {
  margin-top: 35px;
  transition: 0.3s all ease;
  padding: 10px 0;
}
.Post__container h3 {
  font-family: "montserratregular";
}
.Post__container h3::first-letter {
  text-transform: capitalize;
}
.Post__container p {
  font-size: 1.1rem;
  font-family: "Open Sans";
}

.Post__container .comments__button{
  padding: 5px 15px;
  border-radius: 25px;
  border: 1.5px solid rgb(177, 177, 177);
  background-color: white;
  cursor: pointer;
}
.Post__container .comments__button:hover{
  background-color: rgb(177, 177, 177);
}
.Comments{
  max-width: 600px;
}
.Comments__comment{
 padding: 5px; 
}